@model IEnumerable<CLED.Areas.Identity.Data.Facture>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col mb-5">
        <div class="container">
            <div class="container-fluid pt-5">
                <div class="container">
                    <div class="text-center pb-2">
                        <h1 class="mb-4">Factures | << List >></h1>
                    </div>
                </div>
            </div>
            <div class="card">

                <!-- /.card-header -->
                <div class="card-body">
                    <form method="post">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr class="bg-primary text-white">
                                    <th>
                                        UserName
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Date Of Facture
                                    </th>
                                    <th>
                                        Facture Status
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                          @item.userName
                                        </td>
                                        <td>
                                           @item.Price
                                        </td>
                                        <td>
                                           @item.FactureDate
                                        </td>
                                        <td>
                                            @item.FactureStatus
                                        </td>
                                        <td>

                                            <a class="btn btn-info"  asp-action="Details" asp-route-id="@item.FactureId">Details</a> |
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>